.global-container{
	height:90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#e7e7de ;
}

.login-form{ 
  background-color: white;
  width:1200px;
  margin: 40px;
  height: 600px;
  border-radius: 20px !important;
  align-items: center;
  justify-content: center;
}

.card-body{ 
	width: 480px;
	height: 240px;
	margin: 120px;
	vertical-align: middle;
	justify-content: center;
  }

.form-control{
	width: 480px;
	color: #0f3057;
	background-color: #0f3057;
}

#buttonSubmit{
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 480px;
	background-color: #0f3057;
}