.pageInfoCorona-wrapper {
    background-color: #e7e7de;
    width: 90vh;
    height: 120vh;
    justify-items: center;
    vertical-align: middle;
    justify-content: center;
    margin-left: 400px;
    margin-top: 40px;
    border-radius: 16px;
}
