.pageHome-wrapper,
.pageHome-img1,
.pageHome-img2 {
  width: 100%;
}

/* Centered text */
.centered {
  color: #e7e7de;
  font-size: 120px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}