.App {
  text-align: center;
}

.header {
  background-color: #0f3057;
}

.menu {
  display: inline-block;
  padding: 20px;
  color: #e7e7de;
}

.menu:hover {
  background-color: #e7e7de;
  color: #00587a;
}
